{{ define "admin/serverForm-head" }}
    <link href="/static/css/char.css" rel="stylesheet">
    <script src="/static/js/admin_functions.js"></script>
{{ end }}

{{ define "admin/serverForm-body" }}
<div class="container">
    <h1 class="mt-4">{{ .template.banner }}伺服器</h1>
    <hr>
    <div class="jumbotron">
        <form name="EditForm" method="POST" action='{{ .template.action }}{{ .serverData._id.Hex }}'>
            <input type="hidden" name="_id" id="_id" value="{{ .serverData._id.Hex }}"/>
            <input type="hidden" name="_method" value='{{ .template.method }}'>
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputServerid">伺服器編號</span>
                        </div>
                        <input type="text" name="inputServerid" id="inputServerid" value="{{ .serverData.serverid }}"
                            class="form-control" placeholder="輸入伺服器編號" aria-label="伺服器編號" aria-describedby="inputServerid" required>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputServername">伺服器名稱</span>
                        </div>
                        <input type="text" name="inputServername" id="inputServername" value="{{ .serverData.serverName }}"
                            class="form-control" placeholder="輸入伺服器名稱" aria-label="伺服器名稱" aria-describedby="inputServername"
                            required>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputServerEngname">英文名稱</span>
                        </div>
                        <input type="text" name="inputServerEngname" id="inputServerEngname" value="{{ .serverData.serverEngName }}"
                            class="form-control" placeholder="輸入英文名稱" aria-label="英文名稱" aria-describedby="inputServerEngname"
                            required>
                    </div>
                    <div class="input-group mb-3">
                        <div class="col">
                            <a href="/admin/servers" class="btn btn-info active" role="button" aria-pressed="true">回伺服器列表</a>
                        </div>
                        <div class="col text-center">
                            {{ if eq .template.method "PUT" }}
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#ModalCenter"
                                onclick="delAction(false,'')">刪除</button>
                            {{ end }}
                        </div>
                        <div class="col text-right">
                            <button class="btn btn-primary" type="submit">{{ .template.button }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="ModalContent">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="delAction(true,'/admin/servers/');">Yes</button>
            </div>
        </div>
    </div>
</div>
{{ end }}