{{ define "admin/serverList-head" }}
    <link href="/static/css/char.css" rel="stylesheet">
{{ end }}

{{ define "admin/serverList-body" }}
<main role="main" class="container">
    <div class="jumbotron">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">中文名稱</th>
                <th scope="col">英文名稱</th>
                <th scope="col">編輯</th>
              </tr>
            </thead>
            <tbody>
                {{ range .serverList }}
              <tr>
                <th scope="row">{{ .serverid }}</th>
                <td>{{ .serverName }}</td>
                <td>{{ .serverEngName }}</td>
                <td><a class="btn btn-primary" href="/admin/servers/{{ .serverid }}/edit" role="button">編輯</a></td>
              </tr>
              {{ end }}
            </tbody>
          </table>
          
    </div>
</main>
{{ end }}