{{ define "admin/skillsList-head" }}
  <script src="/static/js/admin_functions.js"></script>
  <script>
    $( document ).ready(function() {
      GetSkillsToList();
    });
  </script>
{{ end }}

{{ define "admin/skillsList-body" }}
<main role="main" class="container">
  <p class="text-right">
    <span>{{ .message }}</span>
    <a class="btn btn-primary" href="/admin/skills/create" role="button">新增技能</a>
  </p>

  <ul class="nav nav-tabs" id="skillListTab" role="tablist">
    {{ range $i, $v := .skilltypes }}
    <li class="nav-item">
      <a class="nav-link{{if eq $i 1}} active {{ end }}" id="s{{ $i }}-tab" data-toggle="tab"
        href="#s{{ $i }}" role="tab" aria-controls="s{{ $i }}" {{if eq $i 1}} aria-selected="true"
        {{ end }}>{{ $v }}</a>
    </li>
    {{ end }}
  </ul>

  <div class="tab-content" id="skillListTabContent">
    {{ range $i, $v := .skilltypes }}
    <div class="tab-pane fade{{if eq $i 1}} show active{{ end }}" id="s{{ $i }}" role="tabpanel" aria-labelledby="s{{ $i }}-tab">
      <table class="table table-sm table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">技能名稱</th>
            <th scope="col">開放等級</th>
            <th scope="col">可否升段</th>
            <th scope="col">編輯</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>
    {{ end }}
  </div>

</main>
{{ end }}