{{ define "admin/titlesList-head" }}
    
{{ end }}

{{ define "admin/titlesList-body" }}
<main role="main" class="container">
  <p class="text-right">
    <span>{{ .message }}</span>
    <a class="btn btn-primary" href="/admin/titles/create" role="button">新增稱號</a>
  </p>
  <table class="table table-sm table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">類別</th>
        <th scope="col">名稱</th>
        <th scope="col">別稱</th>
        <th scope="col">編輯</th>
      </tr>
    </thead>
    <tbody>
      {{ range .titlesList }}
      <tr>
        <td scope="row">{{ .id }}</td>
        <td>{{ .type }}</td>
        <td>{{ .defaultname }}</td>
        <td>{{ .malename }}/{{ .femalename }}/{{ .uniname }}</td>
        <td><a class="btn btn-primary" href="/admin/titles/{{ .id }}/edit" role="button">編輯</a></td>
      </tr>
      {{ end }}
    </tbody>
  </table>
</main>
{{ end }}