<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <title>Mabinogi Charactor Memoir</title>
        <link href="/static/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script> -->
        <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
        {{ part "head" }}
        <style>
            /* Show it is fixed to the top */
            body {
                /*min-height: 75rem;*/
                padding-top: 4.5rem;
            }
        </style>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/">MabiChar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars"
                    aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <form class="form-inline my-2 my-md-0">
                    <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                </form>
                <div class="collapse navbar-collapse" id="navbars">
                    <ul class="navbar-nav ml-auto">
                        {{ if .auth }}
                        <li class="nav-item active">
                            <a class="nav-link" href="#">{{ .username }}</a>
                        </li>
                        {{ else }}
                        <li class="nav-item">
                            <a class="nav-link" href="/login">登入</a>
                        </li>
                        {{ end }}
                        <li class="nav-item">
                            <a class="nav-link" href="/share">使用者列表</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdownMenu" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">功能表</a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                                <a class="dropdown-item" href="/user">帳號設定</a>
                                <a class="dropdown-item" href="/user/char">我的角色</a>
                                <a class="dropdown-item" href="/user/newchar">新增角色</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">新增歷程</a>
            
                                <div class="dropdown-divider"></div>
                                {{ if .auth }}
                                <a class="dropdown-item" href="/logout">登出</a>
                                {{ else }}
                                <a class="dropdown-item" href="/login">登入</a>
                                {{ end }}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        {{ part "body" }}
        {{ yield }}
        <script src="/static/js/jquery-3.4.1.slim.min.js"></script>
        <script src="/static/js/popper.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <!-- <script type="text/javascript" src="https://momentjs.com/downloads/moment.min.js"></script> -->
    </body>
</html>