{{ define "share-head"}}
    <!-- <link href="/static/css/dashboard.css" rel="stylesheet"> -->
{{ end }}


{{ define "share-body" }}
<main role="main" class="container">
    <div>
        <p>此表格依照角色建立日期為主</p>
        <ul class="nav nav-tabs" id="serverListTab" role="tablist">
            {{ range $i, $v := .serverList }}
            <li class="nav-item">
              <a class="nav-link{{if eq $i 1}} active {{ end }}" id="{{ .serverEngName }}-tab" data-toggle="tab" href="#{{ .serverEngName }}" role="tab" aria-controls="{{ .serverEngName }}" aria-selected="{{if eq $i 1}} true {{ end }}">{{ .serverName }}</a>
            </li>
            {{ end }}
          </ul>
          <div class="tab-content" id="serverListTabContent">
            {{ range $i, $v := .serverList }}
            <div class="tab-pane fade{{if eq $i 1}} show active{{ end }}" id="{{ .serverEngName }}" role="tabpanel" aria-labelledby="{{ .serverEngName }}-tab">{{ .serverName }}</div>
            {{ end }}
          </div>
    </div>
</main>
{{ end }}